<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cherrypying</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <!--link href="/static/css/bootstrap.css" rel="stylesheet"-->
    {% block addhead %}
    {% endblock addhead %}

    {% endblock head %}
  </head>

  <body>
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    {% block scripts %}
    {% endblock scripts %}

    {% block footscript %}
    {% endblock footscript %}
  </body>
</html>